.idea
crx and keys
media
projects_repository/config/repo_config.php
projects_repository/.htaccess
projects_repository/data/*
projects_repository/data/!.htaccess
projects_repository/data/!example-project.json
projects_repository/data/!example-project2.json
repoexample
repo_wtp
*.rar
*.zip
*.json
*.txt
*.lnk
*.url
*.crx
*.pem