
body {
	font-size: 80%;
	background: #f9f9f9;
	transition: color .3s, background-color .3s, opacity .3s;
}
.main   {
	padding: 110px 10px 10px;
	width: 990px;
	margin: 0 auto;
    position: relative;
}
h1  {
	font-weight: 601;
	font-size: 2em;
}
h2  {
	margin: .1em 0 .7em;
	font-size: 1.6em;
	font-weight: 501;
}
h3  {
	margin: 1em 0 .7em;
	font-size: 1.35em;
	font-weight: 501;
	line-height: 1.5em;
	font-style: italic;
	text-shadow: 2px 1px 1px #d8d8d8;
}
h4  {
	margin: 10px 0;
}
p   {
	font-size: 1.1em;
}
a {
	color: #000;
}
a.external::before {
	content: "\2197\0020";
	white-space: nowrap;
}
.small  {   font-size: 0.6em; font-weight: normal;   }
.to-left    {   float: left;    }
.to-right   {   float: right;   }

.hide   {   display: none !important; }

.clear  {
	clear: both;
}
.row    {
	display: flex;
}
.col-6  {
	width: 50%;
}
.settings-block  {
	margin: 0 auto 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid lightgray;
}
.heading    {
	position: fixed;
	top: 0;
	padding-top: 10px;
    width: inherit;
	background: #f9f9f9;
	z-index: 10;
	margin: 0 -1px;
}
.heading header {
	text-align: right;
	float: right;
}
.heading h1 {
	margin-top: 0px;
    margin-bottom: 0.5em;
	text-shadow: 2px 1px 1px #d6d6d6;
}
.heading h2 {
	font-size: 1.3em;
	color: #666;
	font-weight: normal;
	margin-top: 0px;
    margin-bottom: 16px;
}
.heading a.link-block {
	position: absolute;
	width: 40%;    height: 100%;
	top: 0; right: 0;
}
.heading .ext-version   {
	display: inline-block;
    position: absolute;
	right: 0;   bottom: 5px;
    font-size: 95%;
    opacity: 0.5;
}
.heading .brand   {
	display: inline-block;
    position: absolute;
	right: 69px;   bottom: 5px;
    font-size: 95%;
    opacity: 0.3;
	font-style: italic;
}

#top-shadow {
    position: absolute;
    left: 0;
    bottom: -41px;
    height: 40px;
    width: 100%;
    pointer-events: none;
    box-shadow: inset 0 23px 30px -10px #f9f9f9;
}
/* default inputs & labels */
label   {
	margin-right: 15px;
	margin-bottom: 8px;
}
label span  {
	display: inline-block;
}
label.check,
label.radio,
label.radio-item {
	cursor: pointer;
	padding: 0;
}
label.radio span    {
	margin-right: 16px;
}
select  {
	cursor: pointer;
}
/*input[type="checkbox"]    {
	margin-right: 8px;
	cursor: pointer;
	vertical-align: top;
	margin-top: 2px;
}*/


input[type="checkbox"].nice {
	display: none;
}

.nice-checkbox  {
    display: inline-block;
	background: #c14747;
    color: #cabfbf;
	border: 1px solid #525252cf;
    width: 30px;
    height: 20px;
    position: relative;
    border-radius: 10px;
	transition: background-color 0.5s;
	vertical-align: top;
	cursor: pointer;
}
	.nice-checkbox::before    {
		content: ' \2299';
		position: absolute;
		top: -2.75px;
		left: 2px;
		font-size: 15px;
		background: none;
		transition: left .3s, color .4s;
		cursor: pointer;
	}
	.nice-checkbox:hover    {
		background: #e44444;
        color: #fdbaba;
	}

		.nice-checkbox.checked    {
			background-color: #1e8f1e;
			color: #c1deb5;
		}
		.nice-checkbox.checked::before    {
			left: 12px;
		}
		.nice-checkbox.checked:hover    {
			background-color: #28a528;
			color: #dbecd0;
		}


.settings-block .nice-checkbox  {
	left: -10px;
}

input[type="radio"]    {
	margin-right: 8px;
	cursor: pointer;
	vertical-align: top;
}
input[type="text"]    {
	width: 260px;
	min-height: 2em;
	padding: 1px 7px;
	transition: background-color 0.3s;
	font-size: 1.3em;
	border-color: #ddd;
}
input[type="text"].required:placeholder-shown {
	border-bottom-color: #ff8700;
}
input[name="context[name]"],
input[name="link[name]"] {
	width: 150px;
}
input[name="context[url]"]  {
	width: 300px;
}
input[name="link[url]"] {
	width: 500px;
}
input[type="color"] {
	vertical-align: top;    /* middle doesn't work well here */
	margin-top: 4px;
	height: 1.9em;
	margin-left: 8px;
	cursor: pointer;
}
select{
	transition: color .3s, border-color .3s, background-color .3s;
	outline: none;
}
	:enabled:focus:-webkit-any(select)  {
		border-color: rgba(0, 0, 0, 0.25);
	}
input.color-text    {
    width: 82px;
    margin-left: 6px;
    font-size: 1.2em;
    text-transform: uppercase;
}
input[type=range]   {
	margin: 0;
	vertical-align: middle;
	position: relative;
	top: -3px;
	width: 50%;
}
/* customize range slider: */
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
	transition: margin .1s;
	border: none;
	background: none;
}
input[type=range]:focus,
input[type=range]:hover {
    outline: none;
}
/* it all must be doubled - doesn't work with multi selectors for some reason */
input[type=range]::-webkit-slider-runnable-track    {
	height: 4px;
	cursor: pointer;
	background-color: #fff;
	border: 0.2px solid #cfcfcf;
	transition: background-color .2s, border-color .2s, box-shadow .2s/*, height .1s*/;
}
	input[type=range]::-moz-range-track {
        height: 1px; /* ! */
		cursor: pointer;
		background-color: #fff;
		border: 0.2px solid #cfcfcf;
		transition: background-color .2s, border-color .2s, box-shadow .2s/*, height .1s*/;
	}
input[type=range]::-webkit-slider-thumb {
	border: 1px solid rgba(82, 82, 82, 0.67);
	height: 14px;
	width: 14px;
	margin-top: -6px;
	transition: background-color .2s, border-color .2s, box-shadow .2s/*, width .1s, height .1s, margin-top .1s*/;
	border-radius: 8px;
    background: #fd9e44;
    cursor: pointer;
	-webkit-appearance: none;
}
	input[type=range]::-moz-range-thumb {
		border: 1px solid rgba(82, 82, 82, 0.67);
		height: 14px;
		width: 14px;
		margin-top: -6px;
		transition: background-color .2s, border-color .2s, box-shadow .2s/*, width .1s, height .1s, margin-top .1s*/;
		border-radius: 8px;
	    background: #fd9e44;
	    cursor: pointer;
	}
input[type=range]:focus::-webkit-slider-thumb,
input[type=range]:hover::-webkit-slider-thumb   {
	background: #ff8600;
	border-color: #525252aa;
	box-shadow: #66666644 1px 1px 4px;
}
	input[type=range]:focus::-moz-range-thumb,
	input[type=range]:hover::-moz-range-thumb {
		background: #ff8600;
		border-color: #525252aa;
		box-shadow: #66666644 1px 1px 4px;
	}
input[type=range]:focus::-webkit-slider-runnable-track,
input[type=range]:hover::-webkit-slider-runnable-track  {
	background-color: #eee;
	border-color: #bbb;
	box-shadow: #adadad44 1px 1px 4px;
}
	input[type=range]:focus::-moz-range-track,
	input[type=range]:hover::-moz-range-track   {
		background-color: #eee;
		border-color: #bbb;
		box-shadow: #adadad44 1px 1px 4px;
	}
	
	input[type=range]::-moz-range-progress  {
		background: #fd9e44;
		transition: background-color .2s, border-color .2s;
	}
	input[type=range]:focus::-moz-range-progress,
	input[type=range]:hover::-moz-range-progress {
		background: #ff8600;
	}


label.color {
	margin-left: 20px;
	vertical-align: top;
}
label.hideItem  {
	position: absolute;
	padding: 3px 0 0 0 !important;
	top: 15px;
	right: 60px;
	cursor: pointer;
}
label.text > span    {
	margin-right: 8px;
}
label.text.short span   {
	width: calc(100% - 274px);
}
label.select span:nth-child(1)  {
	width: 230px;
}
label.select select {
	min-width: 150px;
}

label.range span:nth-child(1)    {
	width: 100px;
}
label.range input[type="range"]    {
	margin-left: 10px;
}
label.range input.range-text    {
	border-color: #ddd;
	width: 40px;
}
	label.range input.range-text:hover    {
		border-color: #bbb;
	}
.textarea-holder    {
	position: relative;
	margin-right: 20px;
}
	.textarea-holder textarea   {
		width: 100%;
	}
	.textarea-cover    {
		position: absolute;
		left: 1px;        bottom: 4px;
		height: 20px;   width: 96%;
		pointer-events: none;
		box-shadow: inset -20px -20px 30px -10px rgba(255,255,255,1);
	}
abbr    {
	cursor: help;
}

/* buttons */
button  {
	/*margin-bottom: 8px !important;*/
	cursor: pointer;
	/*border: none !important;*/
}

body .btn {     /* define as child of body, to allow override default color while keeping default :hover */
	display: inline-block;
	margin: 0 16px;
	font-weight: normal;
	text-align: center;
	vertical-align: top;
	background-image: none !important;
	background-color: #dedede;
	border: 1px solid #c4c4c4;
	white-space: nowrap;
	padding: 7px 16px;
	line-height: 0.9;
	border-radius: 6px;
	user-select: none;
	box-shadow: none !Important;
	min-width: 28px;
	min-height: 28px;
	transition: background-color .15s, border-color .15s;
}
	body .btn:hover {
		color: #333333;
		/*background-color: #c4c4c4;*/
		background-color: rgba(140, 218, 233, 0.4);
		border-color: #a6a6a6;
	}
	.btn .icon  {
		width: 20px;    height: 20px;
		display: inline-block;
		background: transparent no-repeat 0 0;
	}
	.btn .text {
		display: inline-block;
		line-height: 1.60em;
		vertical-align: top;
	}
	.btn .icon + .text  {
		margin-left: 10px;
	}
.btn[disabled]  {
	opacity: 0.5;
	cursor: not-allowed;
}
.btn[disabled]:hover {
	color: inherit;
	background-color: inherit;
	border-color: inherit;
}

button.add .icon  {     background-image: url(/Icons/Options/Add.svg);  }
button.compare .icon  { background-image: url(/Icons/Options/Compare.svg);  }
button.connect .icon  { background-image: url(/Icons/Options/Refresh.svg);  }
button.check .icon   {  background-image: url(/Icons/Options/Check.svg); }
button.clipboard .icon{ background-image: url(/Icons/Options/Clipboard.svg);  }
button.close .icon    { background-image: url(/Icons/Options/Close.svg);  } /* todo: rebuild modal close button */
button.decline .icon  { background-image: url(/Icons/Options/Close.svg);  }
button.download .icon { background-image: url(/Icons/Options/Download.svg);  }
button.exchange .icon { background-image: url(/Icons/Options/Exchange.svg);  }
button.export .icon  {  background-image: url(/Icons/Options/Export.svg);  }
button.fetch .icon  {   background-image: url(/Icons/Options/Fetch.svg);  }
button.getAll .icon  {  background-image: url(/Icons/Options/GetWholePack.svg);  }
button.help .icon    {  background-image: url(/Icons/Options/Help.svg); }
button.import .icon  {  background-image: url(/Icons/Options/Import.svg);  }
button.merge .icon  {  background-image: url(/Icons/Options/Merge.svg);  }
button.opentab .icon {  background-image: url(/Icons/Options/TabOpen.svg); }
button.push .icon    {  background-image: url(/Icons/Options/Push.svg); }
button.remove .icon  {  background-image: url(/Icons/Options/Delete.svg);   }
button.replace-local .icon  { background-image: url(/Icons/Options/ReplaceLocal.svg);  }
button.replace-localtest1 .icon  { background-image: url(/Icons/Options/ReplaceLocal1.svg);  }
button.replace-localtest2 .icon  { background-image: url(/Icons/Options/ReplaceLocal2.svg);  }
button.replace-remote .icon { background-image: url(/Icons/Options/ReplaceRemote.svg);  }
button.repository .icon{background-image: url(/Icons/Options/Repository.svg);  }
button.save .icon  {    background-image: url(/Icons/Options/Save.svg);  }


label.primary .btn:first-child  {   margin-left: 0; }
label.primary .btn:last-child  {    margin-right: 0; }

button.env_contextAddDefaultSet {
	display: none;
}
.between-buttons    {
    padding: 6px 8px;
    display: inline-block;
}

#favicon-preview {
    top: 4px;
    position: relative;
    cursor: zoom-in;
}

/* "Use max-height in the transition and not height. And set a value on max-height to something bigger than your box will ever get." */
.section-foldable   {
	overflow-y: hidden;
	transition: ease .4s;
	max-height: 0;
	padding: 0;
}
.section-foldable.expand   {
	padding: initial;
	overflow: auto;
	max-height: 250em;
}
pre.section-foldable.expand   {
	max-height: initial;
}


/* projects editor list */

.projects-container {
	padding-right: 10px;    /* make some space for shadow drop on project hover */ 
}

.contexts,
.links {
	padding-top: 16px;
}

.projectItem    {
	position: relative;
	border: 1px solid transparent;
	background: #ddd;
	border-radius: 3px;
	padding: 10px 10px 22px;
	margin-bottom: 10px;
	transition: opacity 0.4s, box-shadow 0.3s, margin 0.3s, border 0.2s;
}
.projectItem.collapse    {
	background: #eee;
	padding: 10px;
}
.projectItem:not(.collapse) {
	margin-top: 20px;
	margin-bottom: 30px;
}
.projectItem:hover,
.projectItem:focus    {
	border: 1px solid lightgray;
}

.projectItem.new    {
	background: #d8f0f7;
}
.projectItem.uuid-collision    {
	background: #ede9ce;
	border: 1px solid #f7f7ab;
}
.projectItem.active-focus   {
	border: 1px solid #888;
}
.projectItem.unpermitted    {
	border: 1px solid #f56868;
}
	.contextItem.unpermitted,
	.linkItem.unpermitted    {
		/*background: #edcece;*/
		border: 1px solid #f56868;
	}
	.contextItem.new, .linkItem.new    {
		background: #d8f0f7;
	}
.projectItem.filtered-out   {
	display: none;
}

.projectItem input[name="project[name]"],
.projectItem input[name="context[name]"]  {
/*.projectItem input[name="link[name]"]  {*/
	font-weight: 600;
	font-size: 1.25em;
}
.projectItem > label  {
	display: block;
}
.projectItem h3 {
	font-style: italic;
	opacity: 0.7;
}
.contextItem, .linkItem    {
	position: relative;
	border: 1px solid lightgray;
	background: #eee;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	transition: opacity 0.4s, background-color 0.3s, border-color 0.4s, box-shadow 0.4s;
}
.contextItem:hover,
.contextItem:focus,
.linkItem:hover,
.linkItem:focus    {
	border: 1px solid #eee;
}
.contextItem > *,
.linkItem > *    {
	vertical-align: middle;
}
.contextItem:last-child, .linkItem:last-child   {
	margin-bottom: 25px;
}
._template  {
	display: none;
}
.toggle {
	position: absolute;
	top: 0;
	right: 150px;
	width: 530px;   height: 49px;
	cursor: pointer;
}
	.toggle .icon   {
		display: block;
		width: 18px;    height: 18px;
		position: absolute;
		top: 18px;
		right: 10px;
		background: transparent url(Icons/Options/Expand.svg) no-repeat 0 0;
		transform: rotate(180deg);
		opacity: 0;
		transition: opacity 0.4s, transform 0.5s;
	}
	.projectItem:hover > .toggle .icon    {
		opacity: 0.2;
	}
	.projectItem.collapse > .toggle .icon    {
		transform: rotate(0deg);
	}
.contextItem .toggle {
	width: 100px;
}
	.contextItem:hover > .toggle .icon    {
		opacity: 0.2;
	}
	.contextItem.collapse > .toggle .icon    {
		background: transparent url(Icons/Options/Collapse.svg) no-repeat 0 0;
	}

.projectItem.collapse .contexts,
.projectItem.collapse .links,
.contextItem.collapse .moreSettings    {
	display: none;
}

.projectItem.hidden,
.contextItem.hidden,
.linkItem.hidden    {
	opacity: .4;
}
.projectItem.hidden:hover,
.projectItem.active-focus.hidden,
.contextItem.hidden:hover,
.linkItem.hidden:hover    {
	opacity: .7;
}

.projectItem input[type="text"]    { /* possibly also all other text-like modern inputs */
	background-color: transparent;
	border-color: transparent;
}
.projectItem input[type="text"]:focus,
.projectItem input[type="text"]:hover    {
	background-color: #fff;
	border-color: #bfbfbf;
}
.projectItem input[name="project[name]"]    {
	font-size: 1.5em;
    text-shadow: 2px 1px 1px #d6d6d6;
}

.projectItem .btn    {
	background-color: transparent;
	/*background-color: #efefef;*/
}
.projectItem .btn:hover   {
	background-color: rgba(140, 218, 233, 0.4);
}
.projectItem .btn.remove   {
	position: absolute;
	top: 10px;  right: 10px;
	padding: 8px 9px;
	background-color: transparent;
}
.projectItem .btn.remove:hover  {
	background-color: rgba(140, 218, 233, 0.4);
}

.projectItem:hover,
.contextItem:hover,
.linkItem:hover    {
	box-shadow: 3px 2px 6px 0px #aaa5;
}


.projects-filter    {
	position: relative;
	/*float: left;*/
}
.projects-filter input {
	width: 300px;
	padding-right: 24px;
}
.projects-filter.active input    {
	background: rgb(140, 218, 233);
}
.input-reset    {
	position: absolute;
	right: 1px;
	top: -1px;
	padding: 0;
	background: none;
	border: none;
    box-shadow: none !important;
	min-height: 22px;
	min-width: 22px;
	display: none;
	font-size: 1.5em;
    box-shadow: none;
}
.input-reset:hover    {
	font-weight: bold;
	background: none !important;
}
.projects-filter.active .input-reset    {
	display: inline-block;
}

.projects-list-control  {
	margin-left: 40px;
	margin-right: 40px;
}
.projects-list-control a {
	text-decoration: none;
	margin: 0 4px;
	padding: 6px 20px;
	position: relative;
}
.projects-list-control a::after {
	content: '';
    position: absolute;
	top: 4px;
	left: 0; bottom: 0; right: -5px;
	opacity: .2;
	transition: opacity 0.2s;
}
#projects-expand-all::after  {
	background: transparent url(Icons/Options/Expand.svg) no-repeat right 1px;
	background-size: 20px;
}
#projects-collapse-all::after  {
	background: transparent url(Icons/Options/Collapse.svg) no-repeat right 1px;
	background-size: 20px;
}
.projects-list-control a:hover {
	text-decoration: underline;
}
.projects-list-control a:hover::after {
	opacity: .5;
}

label.primary   {
	display: block;
	padding: 10px 15px 10px 20px;
	margin-right: 10px;
	font-size: 110%;
	font-weight: 500;
	margin-bottom: 14px;
	transition: background-color .5s;
	border-radius: 12px;
}
	label.primary:hover {
		background: #f1f1f1;
	}
	label.primary i   {
		opacity: .6;
	}
label.primary input,
label.primary span  {
	font-weight: revert;
}


/* status & notifications */

.message {
	background: rgb(192, 192, 192);
	color: rgba(34, 34, 34, 0.61);
	vertical-align: middle;
	padding: 16px;
	font-size: 110%;
	opacity: 0.95;
}
.status {
    margin: 10px 0;
	display: none;
}
.status-floating {
    /*position: absolute;*/
    position: fixed;
	display: none;
    /*left: 430px;*/
    left: 40%;
	top: 10px;
	z-index: 31;    /* more than modal */
}
.show   {
	display: inline-block;
}
	/* to show import notifications there  TODO: CHECK */
	/*.settings-block.__importexport {
		position: relative; 
	}*/

/* misc text labels use */
.level-info       { color: rgb(140, 218, 233);}
.level-success    { color: rgb(156, 233, 144);}
.level-warn       { color: rgb(233, 232, 160);}
.level-error      { color: rgb(233, 151, 127);}

/* general operation status */
.status.level-info       { background: rgb(140, 218, 233); color: rgb(14, 90, 106);}
.status.level-success    { background: rgb(156, 233, 144); color: rgb(13, 76, 1);}
.status.level-warn       { background: rgb(233, 232, 160); color: rgb(97, 97, 5);}
.status.level-error      { background: rgb(233, 151, 127); color: rgb(87, 22, 5);}

.dialog-overlay {
	position: fixed;
	top: 0; left: 0;
	width: 100%;    height: 100%;
	background: #fff;
	opacity: 0.7;
	z-index: 20;
}

.flashContainer    {
	animation: flash ease-in-out 0.5s 1;
}
@keyframes flash {
	0% { background-color: #fff; }
	30% { background-color: #f6ffe2; }
	100% { background-color: #fff; }
}



/* dialogs */

.dialog {
    display: flex;
	position: fixed;
    justify-content: center;
    align-items: center;
	top: 0;
	width: 100%;
    height: 100%;
	text-align: center;
	z-index: 30;
	transition: top 3.3s;
}
.dialog-inner {
	position: relative;
	background: #e7e7e7;
	padding: 15px;
	width: 50%;
	box-shadow: 10px 10px 20px -3px #666;
	max-height: 80vh;
	overflow-y: auto;
	border-radius: 8px;
	transition: top .3s;
	top: 0;
}
	.dialog-loading .dialog-inner   {
		top: 20px;
	}
	.dialog.text-left .dialog-body    {
		text-align: left;
	}
	.dialog.text-left .dialog-head    {
		text-align: center;
	}
.dialog-close  {
	position: absolute;
	top: 4px;
	right: 10px;
	cursor: pointer;
	font-size: 20px;
}
.dialog-close:hover {
	color: #000;
    text-shadow: 2px 1px 3px #888;
}
.dialog-head    {
	font-size: 2em;
	margin: .5em 1em 1.5em;
}
.dialog-body input[type=text]   {
	/*background: #fff;*/
	margin: 3px;
}
.dialog button  {
	margin: 3px 5px;
	vertical-align: top;
}
.dialog-body h3 {
    margin: 1.2em 0 .8em;
    font-size: 1.45em;
    line-height: 1.60em;
}
.dialog-body p {
	font-size: 1.25em;
	color: #2d2d2d;
}
.dialog-body a {
	color: #50be2c;
}



.btn.confirm-warn,
.btn.decline    {
	/*padding: 6px 16px;*/
}
.btn.confirm-warn    {
	background: rgba(233, 151, 127, .5);
}
.btn.add    {
	background: rgba(215, 233, 214, .5);
}
.btn.add:hover    {
	background: rgba(215, 233, 214, 1);
}

.ui-sortable    {
	cursor: move;
}
.ui-sortable-helper {
}
/* dnd drop area */
.ui-state-highlight {
	min-height: 51px;
	padding: 10px;
	margin-bottom: 10px;
	background: #eaf5e0;
	border: 2px dashed #ccc !important;
}



.blinkText    {
	color: #e7e7e7;
	animation: blink ease-in-out 0.35s 1;
}
@keyframes blink {
	0% { color: #e7e7e7; }
	50% { color: #999; }
	100% { color: #000 }
}

/* jump toolbar */
.jump-toolbar  {
	position: fixed;
	top: 100px;
	right: 5%;
	background: #eee;
	width: 100px;
	padding: 10px;
	opacity: 0.5;
	transition: opacity 0.3s;
}
.jump-toolbar:hover  {
	opacity: 1;
}
.jump-toolbar > span  {
    display: inline-block;
	margin-bottom: 4px;
}
.jump-toolbar > div {
	font-size: 120%;
	padding: 6px;
	border: 1px solid #eee;
	transition: background 0.2s, border-color 0.2s;
}
.jump-toolbar > div:hover {
	background: #ddd;
	border: 1px solid #ccc;
	cursor: pointer;
}

/* ajax */
.ajaxloader-size-default {
    height: 32px;
    width: 32px;
    line-height: 32px;
	margin-left: calc(50% - 16px);
}
.ajaxloader {
    position: relative;
    display: none;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: -22%;
}
	.ajax-loading .ajaxloader   {
		display: inline-block;
	}

.ajaxloader-spin .ajaxloader-markup {
    -webkit-animation: ajaxloader-spin 2s infinite linear;
    animation: ajaxloader-spin 2s infinite linear;
}
.ajaxloader-markup {
    position: absolute;
    display: block;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ajaxloader * {
    display: block;
    line-height: inherit;
}
.ajaxloader img, .ajaxloader svg {
    display: block;
    height: 100%;
    width: 100%;
    transform: translate3d(0,0,0);
}
@-webkit-keyframes ajaxloader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes ajaxloader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* ajax loader in small items - actions, not loaders */
p.ajax-loading, div.ajax-loading  {   position: relative; }
p.ajax-loading > *, div.ajax-loading > *  { opacity: 0.5; }
p.ajax-loading .ajaxloader, div.ajax-loading .ajaxloader  {
	opacity: 1;
	position: absolute;
	left: 0;
	top: calc(50% - 16px);
}

/* repo fetch projects */
.btn.repodialog:hover {
	background: rgb(140, 218, 233);
}

input#env_repo_url  {
	width: 72%; 
}
input#env_repo_key  {
	width: 22%; 
}
#repo_link_external {
	margin-left: 16px;
	border-left: 1px solid #333;
	padding-left: 16px;
}

.dialog.dialog-repo-fetch   {
	text-align: left;
}
.dialog-repo-fetch .fetch-controls   {
	margin: 20px 0;
}
.dialog-repo-fetch .btn.fetch:hover  {
	background: rgb(140, 218, 233);
}
.dialog-repo-fetch .btn.getAll:hover  {
	background: rgb(156, 233, 144);
}
.dialog-repo-fetch .fetch-inner  {
	position: relative;
}

.fetched-projects   {
	max-height: 50vh;
	overflow-y: scroll;
	position: relative;
	/*transition: height ease-in 0.1s; doesn't work*/
}

.project-item-preview   {
	position: relative;
	background: #fafafa;
	margin: 20px 0;
	padding: 20px;
	font-size: 14px;
	border: 1px solid #ddd;
}
.project-item-preview:hover {
	background: #fff;
	border: 1px solid #999;
}
.project-item-preview h3   {
	font-weight: bold;
	display: inline-block;
	margin-top: 0;
	font-size: 18px;
	width: calc(100% - 300px);   /* width of buttons */
}
.project-item-preview h4   {
	font-weight: bold;
	display: inline-block;
	margin: 2px 0 8px;
	color: #666;
}
.project-item-preview p   {
	margin: 2px 0;
	font-style: italic;
}

.project-item-preview .contexts,
.project-item-preview .links    {
	padding-left: 20px;
}
.project-item-preview .context-item,
.project-item-preview .link-item    {
	padding-left: 30px;
	position: relative;
}

.project-item-preview .context-item .name,
.project-item-preview .link-item .name   {
	width: 25%;
}
.project-item-preview .context-item .url,
.project-item-preview .link-item .url   {
	display: inline-block;
}
.project-item-preview .url a    {
	color: inherit;
	text-decoration: none;
}
.project-item-preview .url a:hover    {
	text-decoration: underline;
}
.project-item-preview .context-item .color {
	width: 8px;
    height: 8px;
    display: inline-block;
    left: 12px;
	top: 8px;
	border-radius: 4px;
    position: absolute;
}

.project-item-preview .buttons  {
	position: absolute;
	top: 20px;
	right: 20px;
}
.project-item-preview.local-exists > h3  {
}

.project-item-preview.local-exists > h3 .infoicon   {
    display: block;
    margin-top: 8px;
}
.project-item-preview.differs > h3    {
	color: #ff8700;
}
.project-item-preview.differs > h3 .infoicon::before    {
	content: '\0021';
}
.project-item-preview.differs > h3 .infoicon::after    {
	content: 'Already exist, some differences detected';
	font-size: 13px;
    margin-left: 10px;
    font-weight: normal;
}

.project-item-preview.identical > h3    {
	color: #2ca545;
}
.project-item-preview.identical > h3 .infoicon::before   {
	content: '\2714';
}
.project-item-preview.identical > h3 .infoicon::after  {
	content: 'Already exist, looks the same';
	font-size: 13px;
    margin-left: 10px;
    font-weight: normal;
}


.project-item-preview button.replace-local,
.project-item-preview button.compare,
.project-item-preview.local-exists button.get    {
	display: none;
}
.project-item-preview.local-exists button.replace-local,
.project-item-preview.local-exists button.compare    {
	display: inline-block;
}

.project-item-preview button.add:hover {
	background: rgb(156, 233, 144);
}
.project-item-preview button.replace-local:hover {
	background: rgb(233, 151, 127);
}
.project-item-preview button.compare:hover {
	background: rgb(140, 218, 233);
}

.dialog.dialog-compare .dialog-inner,
.dialog.dialog-conflict .dialog-inner  {
    margin: 7% auto;
    background: #ddd;
    width: 75%;
	text-align: left;
}

.dialog .compare-diff    {
    font-family: Courier New, monospace;
    white-space: pre;
    background: #eee;
    padding: 6px;
    margin: 0 10px;
}
.dialog.dialog-compare .diff-container,
.dialog.dialog-conflict .diff-container    {
	max-height: 65vh;
	overflow-y: scroll;
}
.dialog .compare-diff .inserted   {
	color: #2ca545;
	background: #c5f8b8;
}

.dialog .compare-diff .deleted   {
	color: #a52c2c;
	background: #f8b8b8;
}

#url_selector   {
	text-align: left;
	margin-bottom: 30px;
}
#url_selector .url_option   {
	margin: 7px;
	padding: 8px 12px;
	opacity: 0.5;
	cursor: pointer;
	background: transparent;
	border: 1px solid #c9d4c4;
	overflow-wrap: anywhere;
	transition: background-color 100ms, opacity 200ms;
}
#url_selector .url_option.active,
#url_selector .url_option:hover   {
	opacity: 1;
	background: #dde5da;
	border: 1px solid #9d9b9b;
}
#url_selector .url_option:hover   {
	background: #D9E3D2;
}
#url_selector .url_option.active    {
	box-shadow: 4px 4px 15px -3px #999;
}

#url_selector .url_option > p   {
	font-style: italic;
	margin-top: 0;
}

h3.url_value    {
	font-weight: bold;
	/*cursor: grab;*/
}
h3.url_value:active {
	/*cursor: grabbing;*/
}


#projectSelector    {
	text-align: left;
	/*max-height: calc(100vh - 556px);*/
	/*overflow-y: scroll;*/
	margin-top: 20px;
	padding: 0 10px;
	position: relative;
}
.projectOptionItem  {
	background: #f4f4f4;
	border: 1px solid #f4f4f4;
	padding: 5px 16px 10px;
	margin: 12px 0;
	opacity: 0.85;
	cursor: pointer;
	transition: opacity, background-color, border-color 0.25s;
}
.projectOptionItem:hover  {
	opacity: 1;
	background: #fff;
	border-color: #444;
}

.projectOptionItem p    {
	margin: 0;
}
.projectOptionItem .project-name    {
	font-size: 1.3em;
	font-weight: bold;
}
.projectOptionItem .contexts-list,
.projectOptionItem .links-list    {
	padding-left: 30px;
}

.projectOptionItem .contexts-list .name,
.projectOptionItem .links-list .name    {
	font-weight: 500;
	display: inline-block;
	min-width: 130px;
}

.projectOptionItem hr   {
	border-top: 1px solid #c0c0c0;
}

#projectSelector .context-or-link   {
	margin: 18px 0 5px;
}


/* project list repo functionality */
body.repo_auth__write .btn.push  {
	display: inline-block !important;
}


/* help */
.help-tour  {
	border: 1px dotted #ffce93;
	background-color: #fbefe0;
}
	.help-tour.col-6  {
		margin: -21px;  /* compensate border */
	    padding: 20px;
	    width: calc(50% + 42px);
	}
	.help-tour .tour-mark    {
		position: relative;
	}
		.tour-point { display: none;} 
		.help-tour .tour-mark .tour-point    {
			display: block;
			position: absolute;
		    color: #58b563;
	        bottom: -60px; right: -80px;
		    transform: rotate(220deg);
		    font-size: 60px;
			opacity: 0.5;
			animation: pointerpoint 1.3s 0.5s infinite;
		}
		@keyframes pointerpoint {
			from {bottom: -60px; right: -80px;}
			to {bottom: -45px;  right: -40px;}
		}

.dev-mode-restricted  {
	display: none;
}
.dev-mode .dev-mode-restricted  {
	display: initial;
}

/*.btn.noborder,
.projectItem .btn.noborder   {
	border-color: transparent;
}*/
.btn.transparent    {
	border-color: transparent;
	background-color: transparent;
}

body.loading {
	opacity: 0.2;
	background-color: #666666;
}
body.loading .heading {
	background-color: #666666;
}