
*   {
	box-sizing: border-box;
}
body {
	font-size: 80%;
	background: #f9f9f9;
}
.main   {
	padding: 10px;
	width: 990px;
	margin: 0 auto;
}
h1  {
	font-weight: 600;
	font-size: 2em;
}
h2  {
	margin: .1em 0 .7em;
	font-size: 1.6em;
	font-weight: 500;
}
h3  {
	margin: 1em 0 .7em;
	font-size: 1.25em;
}
h4  {
	margin: 10px 0;
}
p   {
	font-size: 1.1em;
}
a.external:before {
	content: "\2197\0020";
	white-space: nowrap;
}
.settings-block  {
	margin: 0 auto 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid lightgray;
}
.heading    {
	position: relative;
}
.heading header {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}
.heading h1 {
	margin-top: 0px;
}
.heading h2 {
	font-size: 1.3em;
	color: #666;
	font-weight: normal;
}
.heading a.link-block {
	position: absolute;
	width: 100%;    height: 100%;
	top: 0; left: 0;
}
.clear  {
	clear: both;
}
/* default inputs & labels */
label   {
	margin-right: 15px;
	margin-bottom: 8px;
}
label span  {
	display: inline-block;
}
label.check,
label.radio,
label.radio-item {
	cursor: pointer;
	padding: 0;
}
label.radio span    {
	margin-right: 16px;
}
input[type="checkbox"]    {
	margin-right: 8px;
	cursor: pointer;
	vertical-align: top;
	margin-top: 2px;
}
input[type="radio"]    {
	margin-right: 8px;
	cursor: pointer;
	vertical-align: top;
}
input[type="text"]    {
	width: 260px;
	min-height: 2em;
	transition: background-color 0.3s;
	font-size: 1.2em;
	border-color: #ddd;
}
input[type="text"].required:placeholder-shown {
	border-bottom-color: #ff8700;
}
input[name="context[name]"],
input[name="link[name]"] {
	width: 150px;
}
input[name="context[url]"]  {
	width: 300px;
}
input[name="link[url]"] {
	width: 500px;
}
input[type="color"] {
	vertical-align: top;    /* middle doesn't work well here */
	margin-top: 4px;
	height: 1.9em;
	margin-left: 8px;
	cursor: pointer;
}
input.color-text    {
	width: 64px;
	margin-left: 8px;
}
input[type=range]   {
	margin: 0;
	vertical-align: middle;
	position: relative;
	top: -3px;
	width: 50%;
}

label.hide  {
	position: absolute;
	padding: 3px 0 0 0 !important;
	top: 15px;
	right: 60px;
	cursor: pointer;
}
label.text span    {
	margin-right: 8px;
}
label.text.short span   {
	width: calc(100% - 274px);
}
label.select span:nth-child(1)  {
	width: 230px;
}
label.select select {
	min-width: 150px;
}

label.range span:nth-child(1)    {
	width: 100px;
}
label.range input[type="range"]    {
	margin-left: 10px;
}
label.range input.range-text    {
	border-color: #ddd;
	width: 40px;
}
	label.range input.range-text:hover    {
		border-color: #bbb;
	}
.textarea-holder    {
	position: relative;
	margin-right: 20px;
}
	.textarea-holder textarea   {
		width: 100%;
	}
	.textarea-cover    {
		position: absolute;
		left: 1px;        bottom: 4px;
		height: 20px;   width: 96%;
		pointer-events: none;
		box-shadow: inset -20px -20px 30px -10px rgba(255,255,255,1);
	}
abbr    {
	cursor: help;
}

/* buttons */
button  {
	/*margin-bottom: 8px !important;*/
	cursor: pointer;
	/*border: none !important;*/
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	background-image: none !important;
	background-color: #dedede;
	border: 1px solid #c4c4c4;
	white-space: nowrap;
	padding: 8px 16px;
	line-height: 0.9;
	border-radius: 6px;
	user-select: none;
	box-shadow: none !Important;
	min-width: 28px;
	min-height: 28px;
	transition: background-color .15s, border-color .15s;
}
	.btn:hover {
		color: #333333;
		/*background-color: #c4c4c4;*/
		background-color: rgba(140, 218, 233, 0.4);
		border-color: #a6a6a6;
	}
	.btn .icon  {
		width: 16px;    height: 16px;
		display: inline-block;
		background: transparent no-repeat 0 0;
	}
	.btn .text {
		display: inline-block;
		line-height: 1.35em;
		vertical-align: top;
	}

button.btn.remove   {
	position: absolute;
	top: 10px;  right: 10px;
	padding: 8px 9px;
	background-color: transparent;
	/*background-size: 60% 60%;*/
}
button.remove .icon  {  background-image: url(/Icons/Options/Delete.svg);   }
button.add .icon  {     background-image: url(/Icons/Options/Add.svg);  }
button.save .icon  {    background-image: url(/Icons/Options/Save.svg);  }
button.import .icon  {  background-image: url(/Icons/Options/Import.svg);  }
button.export .icon  {  background-image: url(/Icons/Options/Export.svg);  }
button.repodialog .icon  {   background-image: url(/Icons/Options/Repository.svg);  }
button.fetch .icon  {   background-image: url(/Icons/Options/Refresh.svg);  }
button.getAll .icon  {   background-image: url(/Icons/Options/GetWholePack.svg);  }
button.compare .icon  { background-image: url(/Icons/Options/Compare.svg);  }
button.replace .icon  { background-image: url(/Icons/Options/Replace.svg);  }

button.env_contextAddDefaultSet {
	display: none;
}
.between-buttons    {
	padding: 0 8px;
}

/* "Use max-height in the transition and not height. And set a value on max-height to something bigger than your box will ever get." */
.section-foldable   {
	overflow-y: hidden;
	transition: ease .4s;
	max-height: 0;
	padding: 0;
}
.section-foldable.expand   {
	padding: initial;
	overflow: auto;
	max-height: 250em;
}

.projects-container input[type="text"]    { /* possibly also all other text-like modern inputs */
	background-color: transparent;
	border-color: transparent;
}
.projects-container input[type="text"]:focus,
.projects-container input[type="text"]:hover    {
	background-color: #fff;
	border-color: #bfbfbf;
}

.contexts,
.links {
	padding-top: 16px;
}

.projectItem:hover,
.contextItem:hover,
.linkItem:hover    {
	box-shadow: 3px 2px 6px 0px #aaa5;
}

.projectItem    {
	position: relative;
	border: 1px solid transparent;
	background: #ddd;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	transition: opacity 0.4s, box-shadow 0.3s, margin 0.3s;
}
.projectItem.collapse    {
	background: #eee;
}
.projectItem:not(.collapse) {
	margin-top: 20px;
	margin-bottom: 30px;
}
.projectItem:hover,
.projectItem:focus    {
	border: 1px solid lightgray;
}
.projectItem input[name="project[name]"],
.projectItem input[name="context[name]"]  {
/*.projectItem input[name="link[name]"]  {*/
	font-weight: 600;
	font-size: 1.25em;
}
.projectItem > label  {
	display: block;
}
.projectItem .btn   {
	background-color: #efefef;
}
.projectItem .btn:hover   {
	background-color: rgba(140, 218, 233, 0.4);
}
.contextItem, .linkItem    {
	position: relative;
	border: 1px solid lightgray;
	background: #eee;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
	transition: opacity 0.4s, background-color 0.3s, border-color 0.4s, box-shadow 0.4s;
}
.contextItem:hover,
.contextItem:focus,
.linkItem:hover,
.linkItem:focus    {
	border: 1px solid #eee;
}
._template  {
	display: none;
}
.toggle {
	position: absolute;
	top: 0;
	right: 150px;
	width: 530px;   height: 49px;
	cursor: pointer;
}
	.toggle .icon   {
		display: block;
		width: 16px;    height: 16px;
		position: absolute;
		top: 17px;
		right: 10px;
		background: transparent url(Icons/Options/Expand.svg) no-repeat 0 0;
		opacity: 0;
		transition: opacity 0.4s;
	}
	.projectItem:hover > .toggle .icon    {
		opacity: 0.2;
	}
	.projectItem.collapse > .toggle .icon    {
		background: transparent url(Icons/Options/Collapse.svg) no-repeat 0 0;
	}
.contextItem .toggle {
	width: 100px;
}
	.contextItem:hover > .toggle .icon    {
		opacity: 0.2;
	}
	.contextItem.collapse > .toggle .icon    {
		background: transparent url(Icons/Options/Collapse.svg) no-repeat 0 0;
	}

.projectItem.collapse .contexts,
.projectItem.collapse .links,
.contextItem.collapse .moreSettings    {
	display: none;
}

.projectItem.hidden,
.contextItem.hidden,
.linkItem.hidden    {
	opacity: .4;
}

label.primary   {
	display: block;
	padding-left: 20px;
	font-size: 110%;
	font-weight: 500;
	margin-bottom: 20px;
}
	label.primary:hover {
		background: #f1f1f1;
	}
	label.primary i   {
		opacity: .6;
	}
label.primary input,
label.primary span  {
	font-weight: revert;
}

.status-notice, .status-import {
    position: absolute;
	color: rgba(34, 34, 34, 0.61);
	display: none;
	vertical-align: middle;
	padding: 16px;
	font-size: 110%;
    left: 430px;
	top: 10px;
	background: rgb(192, 192, 192);
	opacity: 0.95;
	z-index: 99;
}
.status-import  {
	position: relative;
	left: auto;
	top: auto;
	margin: 10px 0;
}
.show   {
	display: inline-block;
}
.settings-block.__importexport {
	position: relative; /* to show import notifications there */
}
.status-notice.info, .status-import.info        {background: rgb(140, 218, 233);} 
.status-notice.success, .status-import.success  {background: rgb(156, 233, 144);} 
.status-notice.warn, .status-import.warn        {background: rgb(233, 232, 160);} 
.status-notice.error, .status-import.error      {background: rgb(233, 151, 127);} 

.level-info       { color: rgb(140, 218, 233);}
.level-success    { color: rgb(156, 233, 144);}
.level-warn       { color: rgb(233, 232, 160);}
.level-error      { color: rgb(233, 151, 127);}

.dialog-overlay {
	position: fixed;
	top: 0; left: 0;
	width: 100%;    height: 100%;
	background: #fff;
	opacity: 0.7;
}
.dialog {
	position: fixed;
	top: 0; left: 0;
	width: 100%;    height: 100%;
	text-align: center;
}
.dialog-inner {
	position: relative;
	margin: 8% auto;
	background: #e7e7e7;
	padding: 15px;
	width: 50%;
	box-shadow: 10px 10px 20px -3px #666;
}
.dialog-close  {
	position: absolute;
	top: 4px;
	right: 10px;
	cursor: pointer;
	font-size: 20px;
}
.dialog-close:hover {
	color: #000;
    text-shadow: 2px 1px 3px #888;
}
.dialog-head    {
	font-size: 1.5em;
}
.dialog-body input[type=text]   {
	background: #fff;
	margin: 3px;
}
.dialog button  {
	margin: 3px 5px;
	vertical-align: top;
}
.btn.confirm,
.btn.decline    {
	padding: 6px 16px;
}
.btn.confirm    {
	background: rgba(233, 151, 127, .5);
}

.ui-sortable    {
	cursor: move;
}
.ui-sortable-helper {
}
.ui-state-highlight {
	min-height: 51px;
	padding: 10px;
	margin-bottom: 10px;
	background: #eaf5e0;
	border: 1px dashed #ccc !important;
}

.to-left    {   float: left;    }
.to-right   {   float: right;   }

.row    {
	display: flex;
}
.col-6  {
	width: 50%;
}

.flashContainer    {
	animation: flash ease-in-out 0.5s 1;
}
@keyframes flash {
	0% { background-color: #fff; }
	30% { background-color: #f6ffe2; }
	100% { background-color: #fff; }
}

/* ajax */
.ajaxloader-size-default {
    height: 32px;
    width: 32px;
    line-height: 32px;
	margin-left: calc(50% - 16px);
}
.ajaxloader {
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: -22%;
}

.ajaxloader-spin .ajaxloader-markup {
    -webkit-animation: ajaxloader-spin 2s infinite linear;
    animation: ajaxloader-spin 2s infinite linear;
}
.ajaxloader-markup {
    position: absolute;
    display: block;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ajaxloader * {
    display: block;
    line-height: inherit;
}
.ajaxloader img, .ajaxloader svg {
    display: block;
    height: 100%;
    width: 100%;
    transform: translate3d(0,0,0);
}
@-webkit-keyframes ajaxloader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes ajaxloader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* repo fetch projects */
.btn.repodialog:hover {
	background: rgb(140, 218, 233);
}

input#repo_url  {
	width: 50%; 
}
input#repo_key  {
	width: 15%; 
}
.dialog.dialog-fetch   {
	text-align: left;
}
.dialog-fetch .fetch-controls   {
	margin: 20px 0;
}
.dialog-fetch button.fetch:hover  {
	background: rgb(140, 218, 233);
}
.dialog-fetch button.getAll:hover  {
	background: rgb(156, 233, 144);
}
.dialog-fetch .fetch-inner  {
	position: relative;
}

.fetched-projects   {
	max-height: 65vh;
	overflow-y: scroll;
	position: relative;
	/*transition: height ease-in 0.1s; doesn't work*/
}

.project-item-preview   {
	position: relative;
	background: #fafafa;
	margin: 20px 0;
	padding: 20px;
	font-size: 14px;
	border: 1px solid #ddd;
}
.project-item-preview:hover {
	background: #fff;
	border: 1px solid #999;
}
.project-item-preview h3   {
	font-weight: bold;
	display: inline-block;
	margin-top: 0;
	font-size: 18px;
}
.project-item-preview h4   {
	font-weight: bold;
	display: inline-block;
	margin: 2px 0 8px;
	color: #666;
}
.project-item-preview p   {
	margin: 2px 0;
	font-style: italic;
}

.project-item-preview .contexts,
.project-item-preview .links    {
	padding-left: 20px;
}
.project-item-preview .context-item,
.project-item-preview .link-item    {
	padding-left: 30px;
	position: relative;
}

.project-item-preview .context-item .name,
.project-item-preview .link-item .name   {
	width: 25%;
}
.project-item-preview .context-item .url,
.project-item-preview .link-item .url   {
	display: inline-block;
}
.project-item-preview .url a    {
	color: inherit;
	text-decoration: none;
}
.project-item-preview .url a:hover    {
	text-decoration: underline;
}
.project-item-preview .context-item .color {
	width: 8px;
    height: 8px;
    display: inline-block;
    left: 12px;
	top: 8px;
	border-radius: 4px;
    position: absolute;
}

.project-item-preview .buttons  {
	position: absolute;
	top: 20px;
	right: 20px;
}
.project-item-preview.local-exists > h3  {
}

.project-item-preview.local-exists > h3 .infoicon   {
    display: inline-block;
	margin-left: 80px;
}
.project-item-preview.differs > h3    {
	color: #ff8700;
}
.project-item-preview.differs > h3 .infoicon:before    {
	content: '\0021';
}
.project-item-preview.differs > h3 .infoicon:after    {
	content: 'Already exist, some differences detected';
	font-size: 13px;
    margin-left: 10px;
    font-weight: normal;
}

.project-item-preview.identical > h3    {
	color: #2ca545;
}
.project-item-preview.identical > h3 .infoicon:before   {
	content: '\2714';
}
.project-item-preview.identical > h3 .infoicon:after  {
	content: 'Already exist, looks the same';
	font-size: 13px;
    margin-left: 10px;
    font-weight: normal;
}


.project-item-preview button.replace,
.project-item-preview button.compare,
.project-item-preview.local-exists button.get    {
	display: none;
}
.project-item-preview.local-exists button.replace,
.project-item-preview.local-exists button.compare    {
	display: inline-block;
}

.project-item-preview button.add:hover {
	background: rgb(156, 233, 144);
}
.project-item-preview button.replace:hover {
	background: rgb(233, 151, 127);
}
.project-item-preview button.compare:hover {
	background: rgb(140, 218, 233);
}

.dialog.dialog-compare .dialog-inner  {
    margin: 7% auto;
    background: #ddd;
    width: 75%;
	text-align: left;
}

.dialog.dialog-compare .compare-diff    {
    font-family: Courier New, monospace;
    white-space: pre;
    background: #eee;
    padding: 6px;
    margin: 0 10px;
}
.dialog.dialog-compare .dialog-body    {
	max-height: 65vh;
	overflow-y: scroll;
}
.dialog.dialog-compare .compare-diff .inserted   {
	color: #2ca545;
	background: #c5f8b8;
}

.dialog.dialog-compare .compare-diff .deleted   {
	color: #a52c2c;
	background: #f8b8b8;
}
